* {
	margin: 0; padding: 0; width: 990px;
	float: left;
}
body {
	background: #404040;
	width: 22px;
	font-size: 18px;
	font-family: arial,sans-serif;
	display: inline-block;
    text-align: 100%;
}

.clearfixafter {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " " ;
	clear: both;
	width: 0;
	height: 0;
	clear: both;
} 


h1 {
	background: #B0C4DE;
	padding: 12px;
	text-align: left;
	width: 100px;
}
 a {
 	background-color: #00FF00;
 	color: black;
 	widows: 100px;
 }

 h2 {
 	background-color: red;
 	color: white; 
 	text-align: right;
 	width: 34px;
 }


 h3 {
 	text-align: uppercase;
 	color:black; 
 	background-color: gold;
 	float:left;
 	width: 100px;

 }

h4 {
	text-align: right;
	font-size: 32px;
	margin: 20px;
	padding: 10px;
	color: darkorange;
	float: right;
}
 span {
 	background: black;
 	margin: 22px;
 	color: red;
 }

 footer {
  text-align: center;
  border-top: 1px solid black;
  padding: 18px 0;
  margin-top: 40px;
  clear: both;
}

div,section {
	background-color: #800000;
	text-align: left;
	color: #000000;
	float: left;
	width: auto;

}
 ul {
 	font-size: 13px;
 	background: black;
 	line-height: 1,5;
 	display: block;
 	float: center;
 }
 ul li  {
 	background-color: black;
 	font-size: 12px;
 	border: 1px solid white;
 	display:inline-block;
 	height: 30px;
 	line-height: 30px;
 	float: right;
 }
ul li a {
	background-color: black;
	color: #FFFF00;
	font-size: 14px;
	float: center;
	width: auto;
	widows: 32px;
}
 section ul { 
 	background-color: white;
 	color:gold; 
 	text-align: left;
 	width: 120px;
 	height: 160px;
 	font-size: 60px;
}
section li {
	background-color: black;
	color: #00FF00;
	font-size: 20px;
}
 @media only screen and (min-width: 480px) {
 	body{
 		font-size: 14px;
 	} 
 
 #em-unit {
 	background-color: #FF6A5E;
 	width: 2em;
 	height: 2em;
 }
 .fixed-unit {
 	background-color: #c05eff;
 	width: 10px;
 	height: 10px;
 }

 footer {
 	clear: both;
 	margin: 20px;
 	text-align: bottom;
 	padding: 0;
 }
 
 