* {
	margin: 0;
max-width: none;
font-size: 22px;
width: 1356px;
padding-top: 5px;
}
body {

	font-family: 'Arial',sans-serif;
	background: #800000;
	width: 32px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
 aside nav {
 	text-align: uppercase;
 	color: red; 
 	background-color: #A9A9A9;
 	text-align: left;
 	width: 100px;
 	font-size: 22px;
 	float: right;

 }


 header {
 	background-color: black;
 	height: 50px;
 	padding: 4px;
 }

 h1 {
 	background-color: #2F4F4F;
 	color: gold;
 	text-transform: uppercase;
 	text-align: center;
 	line-height: 50px;
 	font-size: 22px; 
 }
  p {
  	background-color: #00FF00;
  	font-variant: small-caps;
  	color: black;
  	text-align: center;
  	font-size: 14px;
  }

h3 {
 	text-align: uppercase;
 	color: black; 
 	background-color: gold;
 	text-align: center;
 	width: 100px;
 	font-size: 16px;

 }

 div {
	background-color: #800;
	text-align:center;
	color: #FF6A5E;
	float: right;
	width: 12px;

}
 ul {
 	font-size: 32px;
 	background: black;
 	line-height: 1,5;
 	display: block;
 	float: center;
 }
  .main-menu {
  	padding: 5px 0 5px 0;
  	text-align: center;
  	line-height: 32px;
  	background-color: black;
 }

 ul.main-menu {
 	margin-top: 15px;
 }

 .main-menu li {
 	display: inline;
 	padding: 0 10px 0 10px;
 	font-size: 32px;
 }
 .main-menu a {
 	text-decoration: none;
 	color: #FFFFFF;
 	padding: 8px;
 	font-variant: small-caps;
 }
 .main-menu a:hover {
 	color: red;
 }
 section ul  { 
 	background-color: white;
 	color:gold; 
 	text-align: right;
 	width: 22px;
 	font-size: 12px;
}
section li {
	background-color: black;
	color: #00FF00;
	font-size: 16px;
	width: 22px;
	padding: 10px;

}

 footer {
 	background-color: white;
 	color: black;
 	clear: both;
 	margin: 20px;
 	text-align: bottom;
 	padding: 0;
 }
 #em-unit {
 	background-color: #FF6A5E;
 	width: 1em;
 	height: 1em;
 }
 #pixel-unit {
 	background-color: #00FF00;
 	width: 40em;
 	height: 40em;
 }
 
 @media only screen and (min-width: 480px) {
 	.article {
 		float: none;
 		width: auto;
 	}
 } 
 
 