* { margin:0; padding:0; box-sizing:border-box; }
body {
	font-family: arial,sans-serif;
	background-color: #FFC898;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: "";
	clear: both;
	height: 0;
}
h1{
	background: #F89009;
	padding: 4px;
}
header, h2 {
	text-transform: uppercase;
	text-align: center;
}
h2 {
	text-align: left;
	color: #FF6543;
	padding: 12px;
}
footer {
	text-align: left;
	padding: 1em 0;
	background:#FF957E;
}
div,section {
	background: #FFE2B8 ;
}
 a:hover {
 	background-color: #aaa
 }
 nav {
 	float:right;
 }
 nav a {
 	display:inline-block;
 	padding:1em;
 }
 header img {
 	float:left;
 }
