
* {
	margin: 0;
max-width: 1348px;
text-align: left;
width: auto;
float: auto; 
}

body {

	font-family: 'Arial',sans-serif;
	background: #480000;
	background-size: cover;
	width: 790px;
	max-width: auto;
	margin-top: 5px;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}


 h1 {

 	background-color: #080000;
 	color: gold;
 	text-transform: uppercase;
 	text-align: center;
 	float: center;
 	line-height: auto;
 	font-size: 32px;
 	width: 1350px; 
 }
  p {
  	background-color: #00FF00;
  	font-variant: small-caps;
  	color: black;
  	text-align: center;
  	float: center;
  	font-size: 22px;
  	width: 1350px;
  }

h3 {
 	text-align: uppercase;
 	color: black; 
 	background-color: gold;
 	font-size: 32px;
 	float: left;
 	width: 200px;
 	margin-top: 10px;
 }
 div {
 	background-color: red;
 	color: white;
 	text-align: center;
 	font-size: 22px;
 	float: right;
 	width: 100px;
 	margin-top: 15px;
 }
  ul {
 	background-color: #00BFFF;
 	color: black; 
 	width: 60px;
 	margin-top: 60px;
 }
  .main-menu {
  	padding: 5px 0 5px 0;
  	text-align: center;
  	line-height: 22px;
  	background-color: #000080;
  	width: 1350px;
 }

 ul.main-menu {
 	margin-top: 2px;
 }

 .main-menu li {
 	display: inline;
 	padding: 0 10px 0 10px;
 	font-size: 22px;
 }
 .main-menu a {
 	text-decoration: none;
 	color: white;
 	padding: 8px;
 	font-variant: small-caps;
 }
 .main-menu a:hover {
 	color: red;
 }

 li {
 	background-color: black;
 	margin-top: 15px;
 }

 footer {
 	background-color: black;
 	color: white;
 	width: 1358px;
 	margin: auto;
 	text-align: center;
 	padding: auto;
 	float: center;
 	height: auto;
 }
 #em-unit {
 	background-color: #FF6A5E;
 	width: 1em;
 	height: 1em;
 }
 #pixel-unit {
 	background-color: #00FF00;
 	width: 20em;
 	height: 20em;
 }
 
 @media only screen and (min-width: 480px) {
 	header {
 		position: absolute;
 	}
 }

 
 