
body {
	background-color: #800000;
	margin: 0;
	font-family: 'Arial', sans-serif;
	width: auto;
}

#header h1 {
	background: black;
	color: gold;
	text-align: center;
	margin: 20px;
	font-size: 40px;
	width: 280px;
}
p {
	background: black;
	color: lime;
	text-align: center;
	font-size: 20px;
	width: 282px;
	margin: 20px;
}

h2 {
	background: yellow;
	color: black;
	text-align: center;
	font-size: 32px;
	margin: 16px;
	width: 200px;
	margin-top: 10px;
}
h3 {
	background-color: red;
	color: white;
	width: 62px;
	font-size: 32px;
	text-align: center;
	margin-top: 10px;
}
h4 {
	background-color: white;
	color: black;
	font-size: 32px;
	text-align: center;
	margin-top: 10px; 
}
 .main_menu {
 	background-color: navy;
 	padding: 5px;
 	text-align: center;
 	height: 15px;
}
ul.main_menu{
	margin: 8px;
	padding: 10px;
}
.main_menu li{
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 20px;
}
.main_menu a {
	text-decoration: none;
	color: white;
	padding: 50px;
	font-variant: small-caps; 
}

.main_menu a:hover {
	color: red;
}
.siderright {
	background-color: black;
	margin: 16px;
	font-size: 100%;
	float: right;
	width: 250px;
}
.sidercenter {
	margin: 290px;
	margin-top: 10px;
	float: right;
	width: 100px;


}
.siderleft {
	background-color: black;
	margin: 16px;
	font-size: 100%;
	float: left;
	width: 250px;
}

div a  {
  	background: black;
 	color: #00ff00;
 	margin: 20px;
 	margin-top: 20px;
 	width: 50px;
 	font-size: 22px;
 	margin-right:  10px
 	padding-left: 20px;
 }
 footer {
 	background-color: black;
 	color: white;
 	font-size: 20px;
 	padding: 25px;
 	text-align: center;
 	width: 250px;
 	margin: 50%;
}

 @media only screen and (max-device-width: 480px) {
 	header {
 		position: absolute;
 	}
 }
 
 