
body {
	background-color: #800000;
	margin: 0px;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
}

#header {
	background: black;
	color: gold;
	margin: 22px;
	height: 40px;
	font-size: 12px;
	width: 300px;
}
h1 {
	background-color: black;
	color: gold;
	text-align: center;
}
p {
	background-color:black;
	color: lime;
	text-align: center;
	margin: 2px;
	height: 20px;
	width: 250px;
}
h2 {
	background: yellow;
	color: black;
	text-align: center;
	font-size: 32px;
	margin: 22px;
	margin-top: 20px;
	width: 220px;
}
h3 {
	background-color: red;
	color: white;
	text-align: center;
}
h4 {
	background-color: black;
	color: white;
	font-size: 22px;
	text-align: center;
	padding: 22px;
}
 .main_menu {
 	background-color:  black;
 	padding: 5px 0 5px 0;
 	text-align: center;
 	line-height: 32px;
}
ul.main_menu{
	margin: 22px;
	padding: 10px;
}
.main_menu li{
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 16px;
}
.main_menu a {
	text-decoration: none;
	color: white;
	padding: 10px;
	font-variant: small-caps; 
}

.main_menu a :hover {
	color: red;
}
.siderright {
	background-color: lime;
	margin: 10px;
	font-size: 100%;
	float: right;
	width: 250px;

}
.sidercenter {
	background-color:black;
	margin: 300px;
	margin-top: 20px;
	font-size: 100%;
	float: right;
	width: 200px;


}
.siderleft {
	background-color: navy;
	margin: 10px;
	margin-top: 2px;
	font-size: 100%;
	float: left;
	width: 250px;
}

div a  {
  	background: black;
 	color: #00ff00;
 	margin: 22px;
 	margin-top: 20px;
 	width: 50px;
 	font-size: 22px;
 	margin-right: : 10px
 	padding-left: 20px;
 }
 
 @media only screen and (max-device-width: 480px) {
 	header {
 		position: absolute;
 	}
 }
 
 