* {
	margin: 0;
}
body {
	display: block;
	background: #800000;
	text-decoration: none;
	font-size: 16px;
	text-align: center;
	position: relative;
}

header {
	background: black;
	color: gold;
	font-size: 12px;
	width: 190px;
}
p {
	background: blue;
	color: white;
}
h2 {
	background: yellow;
	color: black;
	width: 150px;
	border: thin;
}

h3 {
	background: red;
	color: white;
	float: left;
	width: 32px;
	margin-top: 50px;
}
h4 {
	background: black;
	color: blue;
	float: right;
	margin-top: 50px;
	margin-right: 100px;
}
nav a {
	background: black;
	color:#00ff00;
	margin-right: 60px;
	padding-left: 80px;
	width: 110px;
 }
 nav a:hover {
 	color: red;
 }
  li {
  	background: black;
 	color: red;
 	width: 150px;
 	font-size: 22px;
 	margin-right: : 10px
 	padding-left: 20px;
 }
 @media only screen and (max-device-width: 480px) {
 	header {
 		position: absolute;
 	}
 }
 
 