body { text-align: left;
	background-color: black;
	background-image: http://il6.picdn.net/shutterstock/videos/10108409/thumb/1.jpg?i10c=img.resize(height:160);
	background-size: cover;
	color: white;
	font-family: Arial,sans-serif;
	border: 10px black solid;
}
#wrapper {background-color:#660033;
	width: 90px;
	margin: 0 auto;
}

hr{width: 200px;
}
p {font-size: 22px;
}



